<?xml version="1.0"?>
<launch>

  	<param name="/use_sim_time" value="true" />

	<remap from="robot/laser/scan" to="/scan" />  
  	<!-- start up wg world
    see include arg bug:
    https://answers.ros.org/question/224242/tf-transformation-with-move_base/
    /home/steve/.ros/log/
     -->
	<include file="$(find gazebo_ros)/launch/willowgarage_world.launch">
    
	</include>

  	<arg name="model" default="$(find robot1_description)/urdf/robot1_base_04.xacro"/>
  	<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
  	
  <!--
  2 things to run robot state publisher:
  
  A urdf xml robot description loaded on the Parameter Server.

  A source that publishes the joint positions as a sensor_msgs/JointState.

  like “static_transform_publisher“ publish frame transform
  -->
 	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />

	<node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -z 0.1 -model robot_model" respawn="false" output="screen" />

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find chapter6_tutorials)/launch/navigation.rviz" />

  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">
    <remap from="scan" to="/robot/laser/scan"/>
    <param name="base_link" value="base_footprint"/>
  </node>
  

</launch>

